<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图像解译与智能处理实验室</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link rel="icon" href="../img/icon/ai.ico">
</head>
<body>
    <div class="head"></div>
    <div class="main">
		<div class="thumbnail-people">
			<img id="pic" src="../img/teachers/teachers_round/hucanbin_r.jpg" class="people-photo">
		</div>

		<hr />

		<div>
			<p class="subtitle">教师介绍</p>
			<p>
				xxx,xxx				
			</p>
		</div>

		<hr />

		<div>
			<p class="subtitle">招生专业</p>
			<li>
				硕士招生：欢迎电子信息工程/通信工程等相关专业的同学保送、报考！
			</li>
			<li>
				学术硕士：信息与通信工程（02图像解译与智能处理）
			</li>
			<li>
				专业硕士：电子信息（新一代电子信息技术-02遥感信息处理）
			</li>
		</div>

		<hr />

		<div>
			<p class="subtitle">主要科研项目</p>
			<table style="margin-left: auto; 
						margin-right: auto;
						border-collapse: collapse;
						text-align: center;
						width: 80%;
						"
						border="1" >
				<tr>
					<td>
						<b>项目名称</b>
					</td>
					<td>
						<b>项目来源</b>
					</td>
				</tr>
				<tr>
					<td>SAR海面目标识别技术</td>
					<td>省部级项目</td>
				</tr>
				<tr>
					<td>基于控制点的异源图像匹配技术</td>
					<td>省部级项目</td>
				</tr>
				<tr>
					<td>极化SAR建筑物散射机理精细化描述与信息提取关键技术研究</td>
					<td>省部级课题</td>
				</tr>
			</table>
		</div>

		<hr />

		<p class="subtitle">主要论文</p>
		<div style="font-family: 'Times New Roman', Times, serif;
					line-height: 1.5em;
					">
			<li>
				<b>Canbin Hu</b>
				, Deliang Xiang, Zuoyang Zhong, Laurent Ferro-Famil, Yue Huang, Ship and Sea-Ice Discrimination Using Sub-Spectra Strategy and Single Polarimetric SAR Imagery. In 2019 IEEE International Geoscience and Remote Sensing Symposium (pp. 2268-2271). 
			</li>	
        </div>
    </div>
</body>
</html>