/* global */
* {
    font-family: 'Times New Roman', "Microsoft YaHei", sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}


/* class */
.content_table {
    padding: 2.5%;
    width: 70%;
    vertical-align: middle;
    padding-bottom: 0;
    padding-top: 0;
}


/* lag */
p {
    font-size: 18px;
    color: black;
    margin-top: 0px;
    margin-bottom: 20px;
}
pre {
    font-size: 18px;
}

.head {
    padding: 5px;
    width: 100%;
    vertical-align: middle;
}

.head_title{
    padding: 10px;
    width: 100%;
    vertical-align: middle;
}

heading {
    font-size: 25px;
}

#table_80{
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}



/* photo */
.people-photo {
    border-radius: 50%;
    height:200px!important;
    width:200px!important;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}
.thumbnail-mvp{
    padding: 4px;
    /* margin-bottom: 20px; */
    line-height: 1.42857143;
    text-align: center
}
.thumbnail-people{
    padding: 4px;
    /* margin-top: 20px; */
    border-top: 10px;
    /* height: 280px; */
    line-height: 1.42857143;
    text-align: center
}